DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_SCHEMA=
ACCESS_APP_PORT=

DB_APP="host to pg. Example: 127.0.0.1 | ${DB_HOST} | postgres как в докере'
DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@{DB_APP}/${DB_NAME}?sslmode=disable"
DBMATE_MIGRATIONS_DIR="./migrations"

#siteKey = 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
CAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
